# submodules:
circa-web

# build results:
/build
/deploy
*.o
*.so
*.a
*.dylib
*.obj
*.lib
*.exe
*.dll

# project file artifacts:
*.mode1v3
*.pbxuser
*.ilk
*.idb
*.exp
*.exe.manifest
*.pdb
*.suo
.sconsign.dblite
tags

# generated docs
docs/nanodoc/index.html

# downloaded files
/SDL_deps
/SDL_deps.zip

# miscellaneous
x.ca
.ca
*.swp
*.pyc
.DS_Store
*.os
