[circa]
# If shared_library is enabled, the Circa lib will be compiled as a shared object (an .so
# or a .dll). This will allow other shared objects to use Circa functions and it might
# have other effects too.
shared_library = false

# If gprof_support is enabled, we'll build and link with the -pg flags, which makes the
# resulting binary spit out output for analysis by GNU grpof. This flag only has an
# effect on linux and mac builds.
gprof_support = false
